@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../filebox/images/fundo-madeira.jpg')  no-repeat  top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#phone{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 311px;
    height: 627px;
    background: url(../filebox/images/frame-iphone.png) no-repeat ;
    background-size: cover;
    display: inline-block;
    margin: auto;
}

#screen {
    position: relative;
    left: 22px;
    top: 80px;
    height: 471px;
    width: 267px;
    background-size: cover;
}

#network img{
    max-width: 40px;
    min-width: 30px;
    margin: auto;
    margin: 8px;
    margin-top: 3px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    text-decoration: none;
}

#network img:hover{
    transform: translate(-2px, -2px);
    border: 2px solid rgba(255, 255, 255, 0.814);
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.511);
    transition: transform .4s, border .1s, box-shadow .3s;
}



